asgiref
beautifulsoup4
certifi
cffi
chardet
cryptography
defusedxml
Django
django-allauth
django-crispy-forms
django-mathfilters
dnspython
idna
LinkChecker
mysqlclient
numpy
oauthlib
opencv-python
pandas
Pillow
pycparser
PyJWT
PyMySQL
PySocks
python-dateutil
python3-openid
pytz
pyxdg
requests
requests-oauthlib
six
soupsieve
sqlparse
tweepy
urllib3